In [1]:
import pandas as pd

In [5]:
gdp_data = pd.read_csv('GDP_data.csv', sep=';')
gdp_data = gdp_data.rename(columns = {'Unnamed: 0': 'Time'})
gdp_data = gdp_data.drop('Unnamed: 5', axis=1)
gdp_data = gdp_data.drop('Unnamed: 6', axis=1)

In [7]:
gdp_data = gdp_data.rename(columns = {'Unnamed: 0': 'Time'})

In [9]:
gdp_data = gdp_data.drop('Unnamed: 5', axis=1)
gdp_data = gdp_data.drop('Unnamed: 6', axis=1)

In [15]:
gdp_data.tail()

    Time    Japan       USA     China  Netherlands
24  2014  4850414  17527275  10534526       892398
25  2015  4389476  18224775  11226186       765650
26  2016  4926668  18715050  11221836       783844
27  2017  4859788  19519400  12062285       833575
28  2018  4971767  20580250  13368073       914519

In [14]:
gdp_data['Japan']

0     3132817
1     3584420
2     3908808
3     4454144
4     4907039
5     5449118
6     4833714
7     4414734
8     4032511
9     4562079
10    4887520
11    4303542
12    4115116
13    4445659
14    4815169
15    4755411
16    4530377
17    4515263
18    5037909
19    5231383
20    5700099
21    6157458
22    6203212
23    5155716
24    4850414
25    4389476
26    4926668
27    4859788
28    4971767
Name: Japan, dtype: int64